<app-side-nav>
  <app-accordion-sidenav>
    <div class="header-accordion">
      <mat-icon>group</mat-icon>
      <span>Facciones</span>
    </div>
    <ul class="sidebar-list">
      <li (click)="navega('SAPD')">
        <span>
          SAPD
        </span>
      </li>
      <li (click)="navega('SAFA')">
        <span>
          SAFA
        </span>
      </li>
      <li (click)="navega('FBI')">
        <span>
          FBI
        </span>
      </li>
      <li (click)="navega('CNN')">
        <span>
          CNN
        </span>
      </li>
      <li (click)="navega('WWE')">
        <span>
          WWE
        </span>
      </li>
      <li (click)="navega('ABOGADOS')">
        <span>
          ABOGADOS
        </span>
      </li>
    </ul>
  </app-accordion-sidenav>
  <!-- actividades y gráficos debería ir en cada screen de cada facción -->
  <!-- <li>
    <a href="#" class="alink">
      <mat-icon>check</mat-icon>
      <span class="">Actividades</span>
    </a>
    <ul class="submenu">
      <li>
        <a href="#" class="link">Actividad</a>
      </li>
      <li>
        <a href="#" class="link">Entrenamientos</a>
      </li>
      <li>
        <a href="#" class="link">Actividad semanal</a>
      </li>
      <li>
        <a href="#" class="link">Personal Activo</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#" class="alink">
      <mat-icon>show_chart</mat-icon>
      <span class="">Gráficos</span>
    </a>
    <ul class="submenu">
      <li>
        <a href="#" class="link">Actividades</a>
      </li>
      <li>
        <a href="#" class="link">Entrenamientos</a>
      </li>
    </ul>
  </li> -->
</app-side-nav>
