<section class="home">
	<div class="section_top">
		<div class="sec_top">
			<h1>Pinchel Errpe</h1>
            <span> PUTAS facciones de a verga</span>
            
            <div class="contenedor_button">
                
                <a href="../login/login.component.html">
                    <button class="button_log">
                        Calla mmv
                    </button>
                </a>
                <button class="button_res">
                    Ya pues callame plv
                </button>
            </div>
            
		</div>
	</div>
</section>
