@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    font-family: 'Mukta', sans-serif;

}
.home{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;

}
/*Principal*/
.section_top{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(https://imgur.com/mbiTQtS.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;               /* Safari 3.0 */
    -moz-background-size: 100% 100%;                  /* Gecko 1.9.2 (Firefox 3.6) */
    -o-background-size: 100% 100%;                    /* Opera 9.5 */
    background-size: 100% 100%;                       /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 20s infinite ;
}
.sec_top{
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;

}
.sec_top h1{
    color:#ffffff;
    font-size: 3rem;
    letter-spacing: 10px;
    margin-bottom: 25px;

    animation: cpink-neon 2s infinite alternate;
}
.sec_top span{
    font-size: 1.5rem;
    color:#aaa;
}
.lading_container{
  display: block;
  width: 25%;
  margin:auto;
}
.mr-2{
  margin-right: 2rem;
}
.landing-btn-submit{
  text-align: center;
  margin: 1rem auto;
  background: #d41872;
  color: white;
  font-size: 1rem;
  border-radius: 21px;
  min-width: 160px;
  height: 42px;
  width: 50%;
  border-color:#d41872;
}
.landing-btn-submit:hover{
background-color: transparent;
}
/*-----------------*/

@keyframes cpink-neon {
	0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
		text-shadow: 0 -1px 4px #fff,
					 0 -2px 10px rgb(255, 0, 221),
					 0 -10px 20px #f09;
	}

	10%, 15%, 60% {
		text-shadow: none;
	}
}
// Animate the size, outside
.pulse:hover,
.pulse:focus {
    cursor: pointer;
  animation: pulse 1s;
  box-shadow: 0 0 0 1em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}

$colors: (
  pulse: #a100e0,
);

// Sass variables compile to a static string; CSS variables are dynamic and inherited
  // Loop through the map and set CSS custom properties using Sass variables
@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}

// Now every button will have different colors as set above. We get to use the same structure, only changing the custom properties.
button {
  color: var(--color);
  transition: 0.25s;

  &:hover,
  &:focus {
    border-color: var(--hover);
    color: #fff;
  }
}
