<main id="main">
    <div class="container">
        <div class="welcome-card">
            <h1 class="welcome-title">Bienvenido/a {{name}}</h1>
            <p class="welcome-text">Te damos la bienvenida a nuestra plataforma. Para tu información, tu correo electrónico registrado es:</p>
            <p class="welcome-email">{{email}}</p>
            <p class="welcome-text">Y tu contraseña temporal es:</p>
            <p class="welcome-password">{{password}}</p>
            <p class="welcome-text">Recuerda que puedes cambiar tu contraseña en cualquier momento, en la sección de "Perfil" de nuestra plataforma.</p>
        </div>
    </div>
</main>
