<h2 mat-dialog-title>Titulo</h2>
<mat-dialog-content>
  <h3>Contenido</h3>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium at illo quo nemo libero, numquam officiis quia
    alias reiciendis doloribus temporibus iusto maxime earum laboriosam, modi dolores autem. Minima accusamus voluptas
    fugiat sed obcaecati ipsam, itaque dolor recusandae. Quas iure sequi expedita voluptatem ipsa et blanditiis mollitia
    ut esse ea.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</mat-dialog-actions>