<section class="registrarse-container-card">
    <form [formGroup]="formRegistrarse" (ngSubmit)="enviar()" class="registrarse-form">
      <img src="https://imgur.com/YHL61AI.png" class="imagen" lt="DixelRP" title="©DixelRP">
      <h2 class="register-form-title">
        PICHEL RP - Facciones
      </h2>
        <article class="registrarse-card">
            <header class="registrarse-card-header">
              <!-- <div class="container_icon">
                <a href="#">
                  <mat-icon aria-hidden="false" aria-label="volver">arrow_back_ios_new</mat-icon>
                  <p>Inicio</p>
                </a>
              </div> -->
                <h3 class="registrarse-card-header-title">Registrate</h3>
            </header>
            <div class="registrarse-card-body">
                <div class="registrarse-form-control">
                    <input type="text" formControlName="name" placeholder="Nombre de usuario" class="registrarse-input">
                </div>
                <div class="registrarse-form-control">
                    <input type="email" formControlName="email" placeholder="Correo electronico" class="registrarse-input">
                </div>
                <div class="registrarse-form-control">
                    <input type="password" formControlName="password" placeholder="Contraseña" class="registrarse-input">
                </div>
            </div>
            <footer class="registrarse-card-footer">
              <button class="registrarse-btn-submit pulse" [ngClass]="{'btn-disabled':formRegistrarse.invalid}" [disabled]="formRegistrarse.invalid">Registrarse</button>
              <div class="registrarse-card-footer">
                <a class="login-btn-submit" (click)="ir('login')">¿Ya tienes cuenta? Inicia Sesión</a>
              </div>
            </footer>
        </article>
    </form>
</section>
