<section class="app">
    <aside class="sidebar">
        <img src="https://imgur.com/YHL61AI.png" class="imagen" alt="DixelRP" title="©DixelRP">
        <h1 class="slider_tittle">DX FACCIONES</h1>
        <nav class="sidebar-nav">
            <a href="samp://S1.DIXEL-RP.COM:7777" class="ipsamp">S1.DIXEL-RP.COM</a>
            <ul class="sliderbar-list">
                <li>
                    <a href="#" class="alink">
                        <mat-icon>apps</mat-icon>
                        <span class="tittle">Dashboard</span>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="#" class="link">Inicio</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="alink">
                        <mat-icon>group</mat-icon>
                        <span>Facciones</span>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="#" class="link">SAPD</a>
                        </li>
                        <li>
                            <a href="#" class="link">SAFA</a>
                        </li>
                        <li>
                            <a href="#" class="link">FBI</a>
                        </li>
                        <li>
                            <a href="#" class="link">CNN</a>
                        </li>
                        <li>
                            <a href="#" class="link">WWE</a>
                        </li>
                        <li>
                            <a href="#" class="link">ABOGADOS</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="alink">
                        <mat-icon>check</mat-icon>
                        <span class="">Actividades</span>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="#" class="link">Actividad</a>
                        </li>
                        <li>
                            <a href="#" class="link">Entrenamientos</a>
                        </li>
                        <li>
                            <a href="#" class="link">Actividad emanal</a>
                        </li>
                        <li>
                            <a href="#" class="link">Personal Activo</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="alink">
                        <mat-icon>show_chart</mat-icon>
                        <span class="">Graficos</span>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="#" class="link">Activides</a>
                        </li>
                        <li>
                            <a href="#" class="link">Entrenamientos</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="alink">
                        <mat-icon>settings</mat-icon>
                        <span class="">Opciones</span>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="#" class="link">Configuracion</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="alink">
                        <mat-icon>keyboard_tab</mat-icon>
                        <span class="logout">Cerrar session</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <router-outlet></router-outlet>
</section>