.app {
  display: flex;
}

.sidebar {
  position: absolute;
  width: 17em;
  height: 100%;
  color: #f5f5f5;
  background-color: #1e1e1e;
  padding: 20px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 100;
}

.imagen {
  width: 80px;
  height: 60px;
  vertical-align: middle;
  transition: transform 1s ease;
}

.imagen:hover {
  transform: rotateY(360deg);
}

.sidebar .slider_title {
  font-size: 48px;
  font-weight: bold;
  transition: color 0.5s ease;
}

.sidebar .ipsamp {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  color:#fff;
  text-decoration: none;
}
.sidebar .ipsamp:hover{
  color: #d31dab;
  transform: scale(1.05);
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.sidebar-nav ul li {
  margin-bottom: 10px;
}

.sidebar-nav ul li a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  height: 100%;
}

.sidebar-nav ul li a mat-icon {
  margin-right: 10px;
}

.sidebar-nav ul li a:hover {
  background-color: #801368;
}

.sidebar-nav ul li .submenu {
  display: none;
}

.sidebar-nav ul li.active .submenu {
  display: block;
}

.sidebar-nav ul ul {
  padding-left: 20px;
  margin-top: 5px;
}

.sidebar-nav ul ul li {
  margin-bottom: 5px;
}

.sidebar-nav ul ul li a {
  display: block;
}
/* Para animacion en los submenu */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Aplicar la animación al submenú */
.sidebar-nav ul li .submenu {
  display: none;
  animation: slideDown .5s ease-in-out;
}

.sidebar-nav ul li.active .submenu {
  display: block;
}

