<div class="registrarse-container-card">
    <form [formGroup]="formRegistrarse" (ngSubmit)="enviar()" class="registrarse-form">
      <img src="https://imgur.com/YHL61AI.png" class="imagen" lt="DixelRP" title="©DixelRP">
        <div class="registrarse-card">
            <div class="registrarse-card-header">
              <div class="container_icon">
                <a href="#">
                  <mat-icon aria-hidden="false" aria-label="volver">arrow_back_ios_new</mat-icon>
                  <p>Home</p>
                </a>
              </div>
                <div class="registrarse-card-header-title">
                    Registrate
                </div>
            </div>
            <div class="registrarse-card-body">
                <div class="registrarse-form-control">
                    <input type="text" formControlName="name" placeholder="Nombre de usuario" class="registrarse-input">
                </div>
                <div class="registrarse-form-control">
                    <input type="email" formControlName="email" placeholder="Correo electronico" class="registrarse-input">
                </div>
                <div class="registrarse-form-control">
                    <input type="password" formControlName="password" placeholder="Contraseña" class="registrarse-input">
                </div>
            </div>
            <div class="registrarse-card-footer">
              <button class="registrarse-btn-submit pulse" [ngClass]="{'btn-disabled':formRegistrarse.invalid}" [disabled]="formRegistrarse.invalid">Registrarse</button>
            </div>
            <div class="registrarse-card-footer">
              <a class="login-btn-submit" (click)="ir('login')">¿Ya tienes cuenta? Inicia Sesión</a>
            </div>
        </div>
    </form>
</div>
