<div class="registrarse-container-card">
    <form action="" class="registrarse-form">
        <div class="registrarse-card">
            <div class="registrarse-card-header">
                <div class="registrarse-card-header-title">
                    Registrarse
                </div>
            </div>
            <div class="registrarse-card-body">
                <div class="registrarse-form-control">
                    <input type="text" placeholder="nombre" class="registrarse-input">
                </div>
                <div class="registrarse-form-control">
                    <input type="email" placeholder="correo" class="registrarse-input">
                </div>
                <div class="registrarse-form-control">
                    <input type="password" placeholder="contraseña" class="registrarse-input">
                </div>
            </div>
            <div class="registrarse-card-footer">

                <button class="registrarse-btn-submit">Enviar</button>
            </div>
        </div>
    </form>
</div>