<div class="registrarse-container-card">
    <form action="" class="registrarse-form">
        <div class="registrarse-card">
            <div class="registrarse-card-header">
                <div class="registrarse-card-header-title">
                    Registrate
                </div>
            </div>
            <div class="registrarse-card-body">
                <div class="registrarse-form-control">
                    <input type="text" placeholder="Nombre de usuario" class="registrarse-input">
                </div>
                <div class="registrarse-form-control">
                    <input type="email" placeholder="Correo electronico" class="registrarse-input">
                </div>
                <div class="registrarse-form-control">
                    <input type="password" placeholder="Contraseña" class="registrarse-input">
                </div>
            </div>
            <div class="registrarse-card-footer">

                <button class="registrarse-btn-submit pulse">Registrarse</button>
                <button class="registrarse-btn-submit pulse">Inicia Sesion</button>
            </div>
        </div>
    </form>
</div>
