.app {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 1fr 6fr;
}
.sidebar {
  min-width: 260px;
  color: #f5f5f5;
  background-color: #1e1e1e;
  padding: 1rem;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 100;
}
.imagen {
  width: 80px;
  height: 60px;
  vertical-align: middle;
  transition: transform 1s ease;
}
.imagen:hover {
  transform: rotateY(360deg);
}
.sidebar .slider_title {
  font-size: 48px;
  transition: color 0.5s ease;
}
.sidebar-nav {
  height: 98vh;
  overflow-y: auto;
}
/* Estilo general del scrollbar */
.sidebar-nav::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
  padding: 2px;
}

/* Estilo del thumb (la parte que puedes arrastrar) */
.sidebar-nav::-webkit-scrollbar-thumb {
  background-color: #801368; /* Color del thumb */
  border-radius: 6px; /* Bordes redondeados del thumb */
}

/* Estilo de la pista (el área del scrollbar que no contiene el thumb) */
.sidebar-nav::-webkit-scrollbar-track {
  background-color: #ffffff; /* Color de la pista */
  border-radius: 5px;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0 8px;
  margin: 0;
}

.sidebar-nav ul li {
  margin-bottom: 10px;
}

.sidebar-nav ul li a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  height: 100%;
}

.sidebar-nav ul li a mat-icon {
  margin-right: 10px;
}

.sidebar-nav ul li a:hover {
  background-color: #801368;
}

.sidebar-nav ul li .submenu {
  display: none;
}

.sidebar-nav ul li.active .submenu {
  display: block;
}

.sidebar-nav ul ul {
  padding-left: 20px;
  margin-top: 5px;
}

.sidebar-nav ul ul li {
  margin-bottom: 5px;
}

.sidebar-nav ul ul li a {
  display: block;
}
/* Para animacion en los submenu */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Aplicar la animación al submenú */
.sidebar-nav ul li .submenu {
  display: none;
  animation: slideDown .4s ease-in-out;
}

.sidebar-nav ul li.active .submenu {
  display: block;
}

