<section class="home">
	<div class="section_top">
		<div class="sec_top">
			<h1 class="neonText">Pinchel Errpe</h1>
            <span> PUTAS facciones de a verga</span>
            <div class="landing-card-footer">
              <div class="lading_container">
                <button class="landing-btn-submit pulse mr-2" (click)="ir('login')" type="submit">Entrar</button>
                <button class="landing-btn-submit pulse mr-2" (click)="ir('registrarse')" type="submit">Registrate</button>
              </div>
            </div>
	  </div>
  </div>
</section>
